<!DOCTYPE html>
<html>
    <!-- Head -->
    <%- partial('_partial/head') %>
    <body>
        <div class="container">

            <!-- Top Anchor -->
            <div id="top"></div>

            <!-- Header -->
            <%- partial('_partial/header') %>

            <!-- Main -->
            <main>
                <%- body %>
            </main>

            <!-- 'To Top' Btn-->
            <% if(theme.toTop.use) { %>
                <%- partial('_partial/to-top') %>
            <% } %>

            <!-- Footer -->
            <% if(theme.footer) { %>
                <%- partial('_partial/footer') %>
            <% } %>
        </div>

        <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="<%- theme.root_url %>/css/google-prettify-monokai.css" type="text/css">
        <script src="//cdn.bootcss.com/prettify/r298/prettify.min.js" type="text/javascript"></script>
    </body>
</html>